<!DOCTYPE html>
<html lang="en" data-ng-app="MyApp" xmlns:style="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=title%></title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="/css/pill.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/creative.css" type="text/css">

    <!--
    Google Analytics
    -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', {
            trackingId: '<%=trackingId%>',
            cookieDomain: 'auto',
            name: 'UserTracker',
            userId: '<%=user.id%>'
        });

        ga('UserTracker.set', {
            page: '/game',
            title: 'Game'
        });
        ga('UserTracker.send', 'pageview', {
            'dimension1': '<%=user.source%>'
        });
    </script>

    <!-- End of google-analytics -->

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/styles.css">


</head>

<body id="page-top" ng-controller="MyController">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Sample Project</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="info">
                    <a class="page-scroll" href="#header">Home</a>
                </li>

                <li class="info">
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li class="info">
                    <a class="page-scroll" href="#forecast">Forecast</a>
                </li>
                <li class="info">
                    <a class="page-scroll" href="#rates">Rates</a>
                </li>

                <li class="info">
                    <a class="page-scroll" href="#problem-statement">Rules</a>
                </li>
                <li class="dropdown info">
                    <a class="page-scroll" href="javascript:;" data-toggle="collapse" data-target="#demo">
                        Days
                        <i class="fa fa-fw fa-caret-down">
                        </i>
                    </a>
                    <ul id="demo" class="collapse dropdown-menu" data-toggle="collapse">
                        <li>
                            <a class="page-scroll" href="#sunday">Sunday</a>
                        </li>

                        <li>
                            <a class="page-scroll" href="#monday">Monday</a>
                        </li>

                        <li>
                            <a class="page-scroll" href="#tuesday">Tuesday</a>
                        </li>

                        <li>
                            <a class="page-scroll" href="#wednesday">Wednesday</a>
                        </li>

                        <li>
                            <a class="page-scroll" href="#thursday">Thursday</a>
                        </li>

                        <li>
                            <a class="page-scroll" href="#friday">Friday</a>
                        </li>

                        <li>
                            <a class="page-scroll" href="#saturday">Saturday</a>
                        </li>
                    </ul>
                </li>
                <li class="info ">
                  <a  href="javascript:;" data-toggle="collapse" data-target="#logout">
                      <span class="glyphicon glyphicon-user"></span>
                      <%=user.displayName%>
                  </a>
                  <ul id="logout" class="collapse dropdown-menu" >
                      <li>
                          <a href="/logout">Log Out</a>
                      </li>
                  </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>

<!-- jQuery -->
<script src="/js/jquery.js"></script>
<script src="/js/jquery.scrollUp.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script src="/js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/creative.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js">
</script>
<script src="/js/input.js"></script>
<script src="/js/ang.js"></script>
<script>
    $(document).on('click', function () {
        $('.collapse').collapse('hide');
    })
    $(function () {
        $.scrollUp();
    });
</script>
</body>
</html>
